<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.esercitazione_2"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.esercitazione_2.Esercitazione_2"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.esercitazione_2.Primo_articolo"
            android:label="@string/title_activity_primo_articolo" >
        </activity>
        <activity
            android:name="com.example.esercitazione_2.Secondo_articolo"
            android:label="@string/title_activity_secondo_articolo" >
        </activity>
        <activity
            android:name="com.example.esercitazione_2.Terzo_articolo"
            android:label="@string/title_activity_terzo_articolo" >
        </activity>
        <activity
            android:name="com.example.esercitazione_2.Quarto_articolo"
            android:label="@string/title_activity_quarto_articolo" >
        </activity>
    </application>

</manifest>